<%= render 'users/nav' %>

<ol class="breadcrumb">
	<li><%= link_to 'Dashboard', user_path(session['user_id']) %></li>
	<li><%= link_to 'Algebra', dash_algebras_path(session['user_id']) %></li>
	<li class="active">Practice</li>
</ol>