.precalc-practice-question {
  width : 80%;
  padding : 5%;
  border : 4px double #26aa30;
  border-radius : 10px;
  margin : 0 auto;
}

.practice-solution {
  width : 80%;
  padding : 5%;
  border : 4px double #92d497;
  border-radius : 10px;
  margin : 0 auto;
}

.hidden {
  display : none;
}
.visible {
  display : block;
}

.next-question {
  margin: 0 auto;
}
