.row-centered {
  text-align:center;
}
.col-centered {
  text-align:center;
}

#Step2, #Step3, #Step4, #Step5, #Step6, #Step7, #Step8, #Step9, #Step10, #Step11, #Step12 {
  visibility: hidden;
  margin: 5px 0 5px 0;
}

