.login-signup-buttons {
  width  : 500px;
  margin : 0 auto;
}
.heading {
  font-size: 74pt;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #51bb59;
}
.subheading {
  font-size: 36pt;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #51bb59;
}
.subsubheading {
  font-size: 14pt;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #51bb59;
}
.btn-block {
  border-color: #51bb59;
}
.btn-success:hover {
  background-color: #92d497;
  border-color: #51bb59;
}
.form-input {
  border: 1px solid #51bb59;
  padding: 10px;
  border-radius: 8px;
  width: 300px;
  margin: 2px;
  color: #51bb59;
}