@font-face {
  font-family: 'Euclid', serif;
  src: url('euclid.ttf') format('ttf');
}
$main-font: 'Euclid', serif;

html, body {
  font-family: $main-font;
  background-image: url(light_grey.png);
//  background-image: url(symphony.png);
}
.math {
  font-family: $main-font;
}
.subject-circle {
  border        : 2px solid #26aa30;
  border-radius : 50%;
  height        : 200px;
  width         : 200px;
  padding       : 4%;
  margin        : 10px;
}
.subject-circle:hover {
  background-color: rgba(81,187,89,.15);
}
.subject {
  margin         : 0 auto;
  text-align     : center;
}
.circles {
  margin : 0 auto;
  width  : 60%;
}

a:hover {
  text-decoration: none;
  color:#7ccc82;
}
a {
  text-decoration: none;
  color:#26aa30;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e9f6ea;
}
.navbar-default .navbar-brand {
  color: #26aa30;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #7ccc82;
}
.navbar-default .navbar-text {
  color: #26aa30;
}
.navbar-default .navbar-nav > li > a {
  color: #26aa30;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #7ccc82;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #f8f8f8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #26aa30;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #7ccc82;
  background-color: #e9f6ea;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #f8f8f8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #7ccc82;
  background-color: #e9f6ea;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #7ccc82;
  background-color: #e9f6ea;
}
.navbar-default .navbar-toggle {
  border-color: #e9f6ea;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #e9f6ea;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #26aa30;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #26aa30;
}
.navbar-default .navbar-link {
  color: #26aa30;
}
.navbar-default .navbar-link:hover {
  color: #7ccc82;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #26aa30;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #7ccc82;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #7ccc82;
    background-color: #e9f6ea;
  }
}
.btn-success {
  background-color: #51bb59;
  border-color: #51bb59;
}
.btn-success:hover {
  background-color: #a8ddac;
  border-color: #a8ddac;
}
.btn-login {
  color: #51bb59;
}
.navbar-name {
  margin: 15px;
}
.navbar-btn {
  margin: 8px;
}
.btn-info {
  background-color: #51bb59;
  border-color: #a8ddac;
}
.btn-info:hover {
  background-color: #a8ddac;
  border-color: #51bb59;
}
.btn-group {
  margin: 10px 2px 10px 2px;
}