<%= render 'nav' %>

<div class="circles">
	<div class="row">
		<%#= link_to functions_precalcs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Linear equations</div>
		</div>
		<%# end %>

		<%#= link_to logs_precalcs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Linear programming</div>
		</div>
		<%# end %>

		<%#= link_to triangles_precalcs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Interest theory: savings and loans</div>
		</div>
		<%# end %>

		<%#= link_to sine_precalcs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Counting and probability</div>
		</div>
		<%# end %>
	</div>

	<div class="row">
		<%#= link_to systems_precalcs_path(session['user_id']) do %>
		<div class="subject-circle col-md-3">
			<div class="subject">Matrices and determinants</div>
		</div>
		<%# end %>
	</div>
</div>


<ol class="breadcrumb">
	<li><%= link_to 'Dashboard', user_path(session['user_id']) %></li>
	<li><%= link_to 'Finite math', dash_business_maths_path(session['user_id']) %></li>
	<li class="active">Practice</li>
</ol>