<%= render 'nav' %>


<ol class="breadcrumb">
	<li><%= link_to 'Dashboard', user_path(session['user_id']) %></li>
	<li><%= link_to 'Business math', dash_business_maths_path(session['user_id']) %></li>
	<li class="active">Quiz</li>
</ol>